*{
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    margin: 0;
}

/* HEADER */

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 4.0625rem 5.5vw 0;
    box-shadow: 10px 10px 10px;
    color: white;
}

#nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-links li{
    width: 70px;
}

#nav-links li a{
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 8px;
    transition: 0.5s;
    color: black;
}

#nav-links li a:hover{
    color: rgb(54, 105, 248);
    border-bottom: 4px rgb(54, 105, 248) solid;
    transition: 0.5s;
}


/* SECTION1 */

#section1{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 86px;
    padding: 0 5.55555vw;
}

#section1 img{
    max-width: 50%;
    margin: 0 0 0 13px;
    padding: 0;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -48px;
    text-align: left;
}

.text h1{
    font-size: 39px;
    margin-bottom: 0;
    color: #070439;
    font-weight: 700;
}

.text p{
    margin: 15px 0 25px;
    padding: 0 1.38888vw 0 0;
    color: #070439;
    font-size: 19px;
}

.text form{
    display: flex;
    flex-direction: row;
    padding: 0 6vw 0 0;
    align-items: center;
    gap: 16px;
}

.text form .form1-input{
    width: calc(58% - 42px);
    height: calc(2.8125rem - 26px);
    border: 1px solid #070439;
    border-radius: 0.1953125rem;
    padding: 14px 21px 12px;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    letter-spacing: 0.033333357142em;
}

.text form .form1-button{
    width: 200px;
    height: 2.8125rem;
    border-radius: 0.1953125rem;
    font-size: 0.875rem;
    line-height: 1rem;
    background: #3065f8;
    border: 1px solid #3065f8;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.text form button:hover{
    background-color: rgb(107, 154, 255);
    border-style: none;
}

/* SECTION2 */

#section2{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5vw 107px;
    margin-top: 161px;
    background-color: rgb(248, 248, 254);
}

#section2 .illus{
    max-width: 42%;
    margin: 0;
    padding: 202px 0 0 0;
}

.feature{
    display: flex;
    flex-direction: column;
    margin-top: 178px;
    text-align: left;
}

.feature h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 38px;
    color: #070439;
}

.feature p{
    color: #070439;
    padding-right: 13.8194444vw;
    margin-top: 16px;
    margin-bottom: 15px;
}

.feature-link a{
    color: #3c9f8f;
    align-items: center;
    position: relative;
    font-size: 1rem;
}

.card{
    
    margin: 45px 0 0;
    padding: 0 33px;
    width: 300px;
    background: #FFF;
    border-radius: 3.93258px;
    text-align: left;
    box-shadow: 0px 0px 8px 4px rgba(244, 244, 250);
}

.testimonial{
    padding: 49px 0 16px;
    color: rgb(7, 4, 57);
}

.author-cont{
    display: flex;
    flex-direction: row;
    padding-bottom: 26px;
    align-items: center;
}

.author-cont img{
    border-radius: 100%;
    height: 32px;
    width: 32px;
}

.author{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.author .author-name{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
}

.author .author-title{
    font-size: 9px;
    font-weight: 300;
}

/* SECTION3 */

#section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 307px;
    justify-content: space-between;
    background: rgb(88, 89, 137);
    padding: 15px 120px 0px 100px;
}

.info{
    color: #ffffff;
    text-align: left;
    padding: 0;
}

.info h3{
    margin-bottom: 17px;
    font-size: 30px;
    
}

.formulario{
    width: 73%;
}

.formulario button{
    width: 200px;
    height: 3rem;
    font-weight: 700;
    border-radius: 0.091911875rem;
    font-size: 0.875rem;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    background: #3065f8;
    border: 1px solid #3065f8;
    color: #fff;
    cursor: pointer;
    border-style: none;
}

.formulario button:hover{
    background-color: rgb(107, 154, 255);
    border-style: none;
}

.form-input{
    width: calc(100% - 16px);
    height: calc(3rem - 20px);
    border: 1px solid #fff;
    padding: 11px 8px 9px;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    font-size: 0.75rem;
    border-radius: 0.091911875rem;
    margin-bottom: 20px;
}

.info p{
    padding-right: 18.05555vw;
}
